* {
    border: none;
    border-radius: 0px;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
}

tooltip {
    background: #1e1e1e;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #aaaaaa;
    margin-right: 5px;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: #111100;
    color: rgba(0, 0, 0, 0);
}

#cpu,
#memory,
#temperature,
#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: #000000;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 1px;
    border: 1px solid #ffffff;
}

#cpu {
    color: #93ddc2;
    border-color: #5bc8af;
}

#memory {
    color: #dc8add;
    border-color: #9141ac;
}

#temperature {
    color: #f66151;
    border-color: #ed333b;
}

#tray {
}

#workspaces {
    background: #000000;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #89dceb;
    margin-left: 10px;
    border-color: #89dceb;
}

#custom-language {
    color: #f38ba8;
    border-color: #f38ba8;
}

#custom-updates {
    color: #f5c2e7;
    border-left: 0px;
    border-right: 0px;
    border-color: #f5c2e7;
}

#window {
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #ffa348;
    border-color: #ff7800;
}

#network {
    color: #ffa348;
    border-color: #ff7800;
}

#pulseaudio {
    color: #89b4fa;
    border-color: #89b4fa;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
}


#battery {
    color: #8ff0a4;
    border-color: #57e389;
    margin-right: 0px;
}

#battery.charging, #battery.plugged {
    color: #5bc8af;
    border-color: #5bc8af;
    margin-right: 0px;
}

#battery.critical:not(.charging) {
    color: #f66151;
    border-color: #ed333b;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-right: 0px;
}


#custom-weather {
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
}
