* {
	font-size: 16pt;
	background-image: none;
}

window {
	background-color: rgba(0, 0, 0, 0.6);
}

button {
	color: #FFFFFF;
	background-color: rgba(66, 67, 101, 1);
	border: 5px solid #597986;
	border-radius: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20%;

	outline: none;
	box-shadow: 0px 0px 20px 5px rgb(10, 10, 10);
	text-shadow: none;
	animation: gradient_f 20s ease-in infinite;
	margin: 128px 5px;
}

button:focus {
    border: 5px solid #F89A66;
	border-radius: 100%;
	background-color: #BB5A51;
	background-size: 30%;
    box-shadow: 0px 0px 20px 10px rgb(10, 10, 10);
}

#lock {
	background-image: url("/home/senku/.dotfiles/common/home-manager/wlogout/resources/lock.png");
}

#logout {
	background-image: url("/home/senku/.dotfiles/common/home-manager/wlogout/resources/logout.png");
}

#suspend {
	background-image: url("/home/senku/.dotfiles/common/home-manager/wlogout/resources/suspend.png");
}

#hibernate {
	background-image: url("/home/senku/.dotfiles/common/home-manager/wlogout/resources/hibernate.png");
}

#shutdown {
	background-image: url("/home/senku/.dotfiles/common/home-manager/wlogout/resources/shutdown.png");
}

#reboot {
	background-image: url("/home/senku/.dotfiles/common/home-manager/wlogout/resources/reboot.png");
}
